basePath: /
definitions:
  http.errorResponse:
    properties:
      error:
        type: string
    type: object
  http.signedURLResponse:
    properties:
      url:
        type: string
    type: object
host: bucket-signer.syphertech.com.br
info:
  contact:
    email: suporte@syphertech.com.br
    name: SypherTech Team
  description: API para geração de URLs assinadas para acesso a arquivos no bucket.
  title: Bucket Signer Service
  version: "1.0"
paths:
  /signed-url:
    get:
      consumes:
      - application/json
      description: Gera uma URL temporária para upload ou download de um arquivo no
        bucket
      parameters:
      - description: 'Nome do bucket (default: DEFAULT_BUCKET; restrito a ALLOWED_BUCKETS
          se configurado)'
        in: query
        name: bucket
        type: string
      - description: ID do cliente ([A-Za-z0-9._@-], sem '/' ou '..')
        in: query
        name: clienteID
        required: true
        type: string
      - description: Define se a URL será para upload (true) ou download (false)
        in: query
        name: upload
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/http.signedURLResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/http.errorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/http.errorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/http.errorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/http.errorResponse'
      security:
      - ApiKeyAuth: []
      summary: Gera uma URL assinada para acesso ao bucket
      tags:
      - bucket
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-API-Key
    type: apiKey
swagger: "2.0"
